<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Back to main</button>
  </div>

  <div class="info">
    <strong>Author here</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora repellat numquam ipsum. Doloremque, autem! Sint
      illum sapiente natus deserunt? Quia repudiandae veritatis et, blanditiis rem molestiae tempore, consequuntur
      saepe, ipsam asperiores alias voluptatum aliquam? Officiis veritatis culpa ea suscipit, ipsum aspernatur maxime
      provident sequi laudantium saepe voluptatem libero earum accusantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora repellat numquam ipsum. Doloremque, autem! Sint
      illum sapiente natus deserunt? Quia repudiandae veritatis et, blanditiis rem molestiae tempore, consequuntur
      saepe, ipsam asperiores alias voluptatum aliquam? Officiis veritatis culpa ea suscipit, ipsum aspernatur maxime
      provident sequi laudantium saepe voluptatem libero earum accusantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora repellat numquam ipsum. Doloremque, autem! Sint
      illum sapiente natus deserunt? Quia repudiandae veritatis et, blanditiis rem molestiae tempore, consequuntur
      saepe, ipsam asperiores alias voluptatum aliquam? Officiis veritatis culpa ea suscipit, ipsum aspernatur maxime
      provident sequi laudantium saepe voluptatem libero earum accusantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora repellat numquam ipsum. Doloremque, autem! Sint
      illum sapiente natus deserunt? Quia repudiandae veritatis et, blanditiis rem molestiae tempore, consequuntur
      saepe, ipsam asperiores alias voluptatum aliquam? Officiis veritatis culpa ea suscipit, ipsum aspernatur maxime
      provident sequi laudantium saepe voluptatem libero earum accusantium?</p>
  </div>
</div>
